---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
    items: Item[];
}

interface Item {
    title: string;
    href: string;
    description: string;
    image?: ImageMetadata;
}

const { items } = Astro.props;
---

<section>
    <div class="grid">
        {
            items.map(({ title, href, description, image }) => (
                <div class="card">
                    {image && <Image src={image} alt={title} />}
                    <div class="card-section">
                        <p class="h3">
                            <a href={href}>{title}</a>
                        </p>
                        <p>{description}</p>
                    </div>
                </div>
            ))
        }
    </div>
</section>

<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
    }
</style>
